html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

#app {
  display: grid;
  grid-template-rows: 1fr auto;
}

section {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-gap: 10px;
  height: 100%;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}